<!DOCTYPE html>
<html lang="en" ng-app="App">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>AngularJS</title>
    <link rel="stylesheet" href="styles.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>

<body>

    <section ng-controller="TodoController as $ctrl">

        <h1>TODO List</h1>
        <p>A place to store the things you have to do!</p>

        <form ng-submit="$ctrl.addTodo($ctrl.todos)">
            <input type="text" placeholder="Filter your to-dos" ng-model="$ctrl.filterList">
        </form>

        <ol>
            <li ng-repeat="todo in $ctrl.todos | filter: $ctrl.filterList track by $index" >
                </p><button id="cmplt-btn" class="b-task" ng-if="!todo.complete" ng-click="$ctrl.completeTask(todo);">Complete</button>
                <p class="p-task" ng-class="{'completed': todo.complete === true}">{{ todo.task }}</p>
                <button id="x-btn" class="b-task" ng-click="$ctrl.removeTask($index);"><i class="material-icons">clear</i></button>
            </li>
        </ol>

        <form ng-submit="$ctrl.addTodo($ctrl.todos)">
            <input type="text" placeholder="Add your to do" ng-model="$ctrl.todos.task">
            <button id="add-btn">Add</button>
        </form>
        
    </section>

    <script src="https://code.angularjs.org/1.6.5/angular.js"></script>
    <script src="module.js"></script>
    <script src="controller.js"></script>
</body>

</html>