body {
    background-color: #ff1493;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

section {
    width: 30%;
    position: relative;
    left: 50%;
    transform: translatex(-50%);
    background-color: #fff;
    padding: 1em;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}

li {
    width: 100%;
}

.p-task, .b-task {
    display: inline-block;
}

.p-task {
    font-size: 1em;
}

h1 {
    margin-top: 0;
    margin-bottom: 0;
}

p {
    font-size: 0.8em;
    margin-top: 0;
}

#cmplt-btn {
    /* border-style: none; */
    border: 1px solid #ff69b4;
    background-color: #fff;
    border-radius: 7px;
    font-size: 0.6em;
    padding: 0.4em;
    color: #ff69b4;
    margin: 0 0.6em;
}

#add-btn {
    width: 100%;
    border: none;
    border-radius: 5px;
    background-color: #ff69b4;
    color: white;
    height: 2.3em;
    margin-top: 1em;
}

input {
    width: 100%;
    border: 1px solid #bbb;
    border-radius: 5px;
    color: #bbb;
    
    font-size: 0.8em;
    height: 2em;
}